/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #f0ac2f;
    --main-color-alt: #e4a126;
    --parg-color: #777;
    --border-color: #e9e6E9;
    --backgr-color: #ececec;
    --text-ft-color: #b9b9b9;
    --main-transition: .5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --border-rd: 7px;
    --main-line: 1.7;
}

:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --font-family: cursive;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.scroller {
    position: fixed;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    z-index: 9999999;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Container Project */
.projects {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 80px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .projects .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        overflow: hidden;
    }

}

/* @media () */

/* Start Clock */
.boxOne {
    min-height: 380px;
    border-radius: 26px;
    background: var(--bg-body);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.boxOne .clock {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(131, 131, 127);
    background-color: hsl(51, 91%, 67%);
    box-shadow: rgba(255, 255, 255, 0.452) 4px 4px 10px 0px;
}

@media (max-width: 767px) {
    .boxOne .clock {
        width: 280px;
        height: 280px;
    }
}

.boxOne .numbers div {
    position: absolute;
    color: #0e915d;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.boxOne .numbers .twelve {
    top: 6px;
    left: 50%;
    transform: translate(-50%);
}

.boxOne .numbers .three {
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.boxOne .numbers .six {
    bottom: 6px;
    left: 50%;
    transform: translate(-50%);
}

.boxOne .numbers .nine {
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.boxOne .clock .arrows {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.boxOne .clock .arrows::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #0e915d;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    z-index: 4;
}

.boxOne .clock .arrows div {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 110px;
    transform-origin: bottom center;
    bottom: 50%;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.boxOne .clock .arrows .hour {
    width: 6px;
    height: 70px;
    transform: rotate(30deg);
}

.boxOne .clock .arrows .minute {
    height: 95px;
    transform: rotate(70deg);
}

.boxOne .clock .arrows .second {
    background-color: goldenrod;
    transform: rotate(230deg);
}


.boxOne img {
    position: absolute;
    width: 70px;
    left: 55%;
    transform: translate(-50px);
    top: 60px;
    z-index: 2;
}

.info {
    padding: 20px;
    border-top: 1px solid #2d2d2e;
}

.info h2 {
    font-family: var(--font-family);
    color: var(--main-color);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.473);
}

/* End Clock */
/* Start Calendar */
.projects .boxTwo {
    min-height: 380px;
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    background-color: var(--bg-body);
    border-radius: 26px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-weak-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50%;
}

.calendar-weak-day div {
    display: grid;
    place-items: center;
    color: #4a94d1;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

@media (max-width: 767px) {
    .projects .boxTwo {
        padding: 5px;
    }

    .calendar-header {
        font-size: 17px;
    }

    .calendar-days div {
        width: 30px;
        height: 30px;

    }
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover)
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 80px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    right: calc(2px + 50%);
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.3s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}


/* End Calendar*/